body{
    background-color:skyblue;
    margin:0;
    padding:0;
}

section{
    margin-left: 25%;
    margin-right:25%;
    display: float;
    height:800px;
    width:750px;
    color: white;
    border: 5px solid rgb(39,194,65);
}
h1{
    font-size: medium;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
h2{
    margin-left: 40px;
    font-weight: bolder;
}

p{
    width:fit-content;
    font-size: 25px;
    margin-left: 40px;
}
section img{
    position:relative;
    max-width: 250px;
    max-height: 300px;
    float:right;
    padding:20px;
}
nav ul{
    padding:0;
    margin:0;
    list-style-type: none;
    text-align: center;
}

nav ul li{
    font-size: 18px;
    font-weight: bolder;
    display:inline-block;
}
nav ul li a{
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(39, 194, 65);
}
    

a:hover{
    text-decoration: none;
    color: white;
}
span{
    font-weight:bolder;
    color: grey;
}
.nav-bottom{
    margin-bottom: 10px;
}